body{
    background-color: var(--cor-back-1);
    --cor-back-1:#363432;
    --cor-1:#34675C;
    --cor-2:#D9D9D9;
    --cor-3:#242322;
}

h2{
    padding: 20px;
    background-color: #34675C;
    color: var(--cor-2);
}
.ct{
    width: 50px;
    height: 60px;
    padding: 50px;
}