@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    font-family: "Bebas Neue", sans-serif;
}

body{
    background-color: var(--cor-back-1);
    --cor-back-1:#363432;
    --cor-1:#34675C;
    --cor-2:#D9D9D9;
    --cor-3:#242322;
}

header{
    position: fixed; 
    left: 0;
    right: 0;
    height: 60px;
    background-color: var(--cor-back-1);
    display: flex; /* Essencial para o layout flexível */
    align-items: center; /* Alinha itens verticalmente ao centro */
    padding: 0 15px; /* Padding nas laterais do header */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.432);
    z-index: 1000;
    gap: 10px; /* Espaçamento uniforme entre os itens diretos do header */
}
header input[type="text"] {
    /* Chave para centralização: margens automáticas laterais */
    margin-left: auto;
    margin-right: auto;
    
    /* Dimensionamento do input */
    max-width: 450px; /* Largura máxima para o input */
    width: 100%; /* Ocupa o espaço disponível até o max-width, centralizado pelas margens */
    min-width: 100px; /* Largura mínima para evitar que desapareça */

    /* Estilos de aparência */
    padding: 6px 12px;
    border-radius: 50px;
    border: 2px solid var(--cor-3);
    background-color: var(--cor-3);
    color: var(--cor-2);
    font-family: "Inter", sans-serif; 
    font-size: 14px;
}

nav {
    padding-bottom: 20px;
    padding-top: 80px; 
    display: flex;
    justify-content: center;
    gap: 20px;
    align-items: center;
    background-color: var(--cor-back-1);
    flex-wrap: wrap;
}

.btnNav{
    transition: 0.5s
}

nav button{
    background-color: transparent;
    color: var(--cor-2);
    font-size: 20px; 
    position: relative; 
    border: none; 
    border-radius: 0; 
    padding: 5px 0; 
}

nav button:hover{
    color: gray;
}

nav button::after{
    content: '';
    position: absolute;
    bottom: -2px; 
    left: 0;
    width: 0%; 
    height: 2px; 
    background-color: var(--cor-1);
    transition: width 0.3s ease-in-out; 
}
nav button:hover::after,
nav button.ativo::after { 
    width: 100%;
}

button{ 
    cursor:pointer;
    background-color: var(--cor-1);
    border: none;
    border-radius: 30px;
    font-size: 20px; 
}
